/* HEADING TAGS */
h1 {
  font-size:40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* HEADER */
.HeaderPage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

div.HeaderPage {
  color: #00C0FF;
  background-color: #344A53;
  text-align: center;
}

/* BODY */
body {
  background-color: #F1F1E6;
}

/* FOOTER */
.FooterPage {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

div.FooterPage {
  font-size: 10px;
  font-family:sans-serif;
  text-align: center;
  color: #00C0FF;
  background-color: #344A53;
}

/* Image GIF */
.ImageGif {
  position:static;
  padding-top: 137px;
  padding-left: 105px;
}

#image {
  width: 900px;
  height: 700px;
}

/* Texto lateral */
.Text {
  text-align: justify;
  font-family:'Times New Roman', Times, serif;
  top: 100px;
  position: absolute;
  padding: 40px;
  padding-left: 1070px;
  padding-right: 105px;
}
